
.user-container {
  margin-top:10px;
}


.left {
  border-right:1px solid #e6e6e6;
  min-height:400px;
  ul {
    li {
      height:50px;line-height:50px; text-align:center;padding-right:10px;
      a {
        display:block;
        font-size:14px;
        &:hover {background:#eee;}
      }
    }
  }
}

.right {

  padding-left:20px;
  font-size:20px;
  color:red;
}
