/* reset */
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{font:12px/1.14 "Microsoft YaHei",\5b8b\4f53;color:#333;outline:0;}
body{background:#f2f2f2;}
a,a:hover{color:#333;transition:all .2s ease-in;}
.clear {clear:both;line-height:0;height:0;}
.red {color:red;}
.fa-spinner {animation:fa-spin .5s infinite steps(8)}


@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.el-card__body {padding:6px 10px;margin:0;}
//.el-form-item {margin-bottom:12px;}

.no-data {display:block;width:100%;text-align:center;height:100px;line-height:100px;padding:30px 0;
  font-size:20px;
}

.yzm {cursor:pointer;}

#app {padding:0;margin:0;}
.head-top {
  box-sizing:border-box;
  height:30px;
  line-height:30px;
  font-size:14px;
  color:#333;
  border:#e6e6e6;
  .left {float:left;padding:0 20px;
    span {padding: 0 10px;}
    b {font-weight:500;}
  }
  .right {float:right;padding:0 20px;height:30px;overflow:hidden;
    i.el-icon-menu {display:none;margin-top:2px;cursor:pointer;}
    button.login-btn {padding:0;}
    a {display:block;float:right;}
    .login-after {
      a {
        display: inline;
        float:right;
        &:hover {color: #2b8aff;}
      }
    }
  }
}

#head {
  background:#fff;
}
.container {
  padding: 0 20px;
  margin:20px auto 0 auto;
}

.container-box {
  margin: 10px 0;
}

.box-card,.border-card {
  //transition:all 3s ease-in-out;
  position:relative;
  top:30px;
  left:0;
  margin-bottom: 6px;
  animation: up .5s forwards;
}

@keyframes up {
  0% {top:30px;}
  100% {top:0}
}

.content-card {min-height:300px;}

.home-left {width:75%;}
.home-right {width:25%;padding-left:10px;}

.nav {box-sizing:border-box;background:#fff;overflow:hidden;
  .b-nav {
    .left {float:left;width:50%;}
    .right {float:right;width:50%;
      .home-menu {}
    }

  }

  .sub-menu {display:none;}
}

@media screen and (max-width:900px) {

  .nav {height:40px;line-height:40px;margin-bottom:0;position:fixed;bottom:0;z-index:9999;background:#fff;width:100%;
    .sub-menu { display:block;
      ul {
        li { float:left;width:30%;text-align: center;
          a {display:block;text-align: center;font-size:16px;}
        }
      }
    }
  }

  .head-top {
    .left {display:none;}
    .right {width:100%;text-align:center;
      i.el-icon {display:block;float:left;font-size:1.5rem;}
    }
  }
  .b-nav {display:none;}
  .home-left {width:100%;}
  .home-right {display:none;}
}
