
/**列表*/
.list-home {height:120px;border-left:6px solid #fff;
  &:hover{
    border-left:6px solid #abcdef;
    padding-left:10px;
  }
}
.list-home .left {width:100%;margin-top:6px;background:#f9f9f9;}
//.list-home .left a {display:block;height:100px;}
.list-home .left img {display:block;width:100%;height:100px;}

.list-home .right {padding-left:10px;}
.list-home .right b.title {
  display:block;font-size:16px;color:#666;height:36px;line-height:36px;overflow:hidden;font-weight:600;border-bottom:1px dashed #e6e6e6;
}
.list-home .right p {
  display: block;
  padding-top:10px;
  font-size:14px;
  color:#666;
  white-space:nowrap;
  text-overflow:ellipsis;
  line-height:24px;
  overflow:hidden;
}
.list-home .right span {display:block;padding-top:20px;color:#999;}
.list-home .right span b {}
.list-home .right span em {}
.list-home .right span i {}

.loadMore {width:100%;text-align:center;font-size:16px;height:50px;line-height:50px;}

//.list-dl {overflow:hidden;margin:0;}
//.list-dl dt {width:30%;float:left;}
//.list-dl dt a {}
//.list-dl dt a img {display: block;width:100%;height:100%;}
//.list-dl dd {width:62%;float:right;}
//.list-dl dd a {font-weight:200;font-size:20px;display:block;padding-bottom:20px;
//  &:hover{
//    padding-left:10px;
//    text-decoration:underline;
//  }
//}
.list-dl dd p {font-size:14px;color:#666;line-height:26px;}

//.ava {margin:0;}
//.ava dt {width:20%;float:left;}
//.ava dt a {}
//.ava dt a img {width:50px;height:50px;border:1px solid #ccc;border-radius:50%;}
//.ava dd {width:50%;float:right;}
//.ava dd span {font-size:16px;}
//.ava dd p {font-size:12px;color:#666;}

.ava {
  .ava-img {display: block;
    img {display:block;width:100px;height:123px;margin:10px auto;}
  }
  .intro {width:100%;
    padding :10px;
    span {color:#333;font-size:20px;display:block;padding: 10px 0;}
    p {font-size:14px;color:#666;display:block;line-height:24px;background:#f1f1f1;margin-bottom:4px;padding:2px 6px;}
  }
}


.list-tab {}
.list-tab li {text-overflow:ellipsis;white-space:nowrap;overflow:hidden;line-height:30px;}
.list-tab li span {background:#abcdef;color:#fff;padding:0 4px;}
.list-tab li a {font-size:14px;line-height:28px;&:hover{text-decoration:underline;color:#666;}}

//.list-message {}
//.list-message dt {width:40px;float:left;}
//.list-message dt a {}
//.list-message dt a img {width:50px;height:50px;}
//.list-message dd {float:right;}
//.list-message dd p {font-size:14px;color:#333;}
//.list-message dd span {font-size:12px;color:#666;}

.tags {
  span {display: inline;margin:4px 0;}
}

.list-msg {
  .list-content {height:50px;overflow:hidden;padding:7px 0;border-bottom:1px solid #e6e6e6;}
  .list-content:last-child {border:none;}
  .left {
    a {display:block;
      img {width:50px;height:50px;border-radius:50%;
        &:hover {animation: rota .5s forwards}
      }
    }
  }
  .right {padding-left:20px;
    p {color:#999;height:36px;overflow:hidden;font-size:12px;font-weight: 200;}
    span {color:#999;}
  }
}

@keyframes rota {
  0% {transform:rotate(0)}
  100% {transform:rotate(360deg)}
}

.list-show {
  h2 {font-size:16px;padding-left:10px;line-height:30px;border-bottom:1px solid #e6e6e6;}
  .list-show-img {padding:0 10px 0 0;}
  .list-show-img:last-child {padding-right:0;}
  a {display:block;
    img {width:100%;}
  }
  //ul {
  //  li {
  //    float:left;
  //    width:180px;
  //    margin: 10px;
  //    a {
  //      img {width:180px;height:120px;border:1px solid #e6e6e6;}
  //    }
  //  }
  //}
}

.link {
  ul {
    li {display: inline;float:left;margin-right:10px;
      a {display: block;border:1px solid #e6e6e6;background:#eee;padding: 6px 10px;
        &:hover {background:#fff;transform:scale(.9);}
      }
    }
  }
}

